.b-return {
  margin-bottom: 50px;
  margin-top: 15px;
}
@media all and (max-width: 768px) {
  .b-return {
    margin-bottom: 30px;
  }
}
.b-return__link {
  display: inline-block;
  font-size: 40px;
  padding-left: 50px;
  font-weight: bold;
  padding-left: 50px;
  text-decoration: none;
  color: black;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAzNSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuOTM5MzM5IDEwLjkzOTNDMC4zNTM1NTQgMTEuNTI1MSAwLjM1MzU1NCAxMi40NzQ5IDAuOTM5MzM5IDEzLjA2MDdMMTAuNDg1MyAyMi42MDY2QzExLjA3MTEgMjMuMTkyNCAxMi4wMjA4IDIzLjE5MjQgMTIuNjA2NiAyMi42MDY2QzEzLjE5MjQgMjIuMDIwOCAxMy4xOTI0IDIxLjA3MTEgMTIuNjA2NiAyMC40ODUzTDQuMTIxMzIgMTJMMTIuNjA2NiAzLjUxNDcyQzEzLjE5MjQgMi45Mjg5MyAxMy4xOTI0IDEuOTc5MTkgMTIuNjA2NiAxLjM5MzRDMTIuMDIwOCAwLjgwNzYxMyAxMS4wNzExIDAuODA3NjE0IDEwLjQ4NTMgMS4zOTM0TDAuOTM5MzM5IDEwLjkzOTNaTTM1IDEwLjVMMiAxMC41TDIgMTMuNUwzNSAxMy41TDM1IDEwLjVaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
}
.b-return__link:hover {
  text-decoration: underline;
}
@media all and (max-width: 768px) {
  .b-return {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .b-return__link {
    padding-left: 30px;
    font-size: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyMSAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMjkyODkyIDcuMjkyOUMtMC4wOTc2MzE1IDcuNjgzNDIgLTAuMDk3NjMxNCA4LjMxNjU4IDAuMjkyODkzIDguNzA3MTFMNi42NTY4NiAxNS4wNzExQzcuMDQ3MzggMTUuNDYxNiA3LjY4MDU0IDE1LjQ2MTYgOC4wNzEwNyAxNS4wNzExQzguNDYxNTkgMTQuNjgwNSA4LjQ2MTU5IDE0LjA0NzQgOC4wNzEwNyAxMy42NTY5TDIuNDE0MjEgOEw4LjA3MTA3IDIuMzQzMTVDOC40NjE1OSAxLjk1MjYyIDguNDYxNTkgMS4zMTk0NiA4LjA3MTA3IDAuOTI4OTMzQzcuNjgwNTQgMC41Mzg0MDkgNy4wNDczOCAwLjUzODQwOSA2LjY1Njg1IDAuOTI4OTMzTDAuMjkyODkyIDcuMjkyOVpNMjEgN0wxIDdMMSA5TDIxIDlMMjEgN1oiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=");
    background-position: 0 6px;
  }
}

.b-intro-download {
  margin-bottom: 50px;
}
@media all and (max-width: 768px) {
  .b-intro-download {
    margin-bottom: 30px;
  }
}
.b-intro-download__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.b-intro-download__desc {
  border-radius: 40px;
  width: 58%;
  padding: 35px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  background-color: #F6F8F7;
}
@media all and (max-width: 768px) {
  .b-intro-download__desc {
    border-radius: 20px;
  }
}
.b-intro-download__text {
  margin-bottom: 20px;
}
.b-intro-download__buttons {
  display: flex;
  gap: 20px;
  justify-content: left;
  margin-top: auto;
}
.b-intro-download__button {
  padding: 10px 25px;
  min-height: 42px;
  min-width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  text-decoration: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
.b-intro-download__button_sign {
  background-color: #FE8B4B;
}
.b-intro-download__button_sign:hover {
  background-color: #e77d41;
}
.b-intro-download__button_download {
  background-color: #DBF0E9;
  color: black;
}
.b-intro-download__button_download:hover {
  background-color: #13AB7B;
  color: white;
}
.b-intro-download__picture {
  flex-shrink: 0;
}
.b-intro-download__picture img {
  display: block;
  width: 100%;
  height: auto;
}
@media all and (max-width: 1150px) {
  .b-intro-download__desc {
    width: 60%;
  }
  .b-intro-download__picture {
    width: 40%;
  }
}
@media all and (max-width: 1024px) {
  .b-intro-download__container {
    flex-direction: column-reverse;
  }
  .b-intro-download__desc {
    width: 100%;
  }
  .b-intro-download__picture {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .b-intro-download__container {
    gap: 10px;
  }
  .b-intro-download__desc {
    width: 100%;
    padding: 20px;
  }
  .b-intro-download__subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .b-intro-download__button {
    flex-grow: 1;
  }
}
@media all and (max-width: 480px) {
  .b-intro-download__buttons {
    flex-direction: column;
    gap: 10px;
  }
}

.b-text-picture + .b-text {
  margin-top: -30px;
}

@media all and (max-width: 768px) {
  .b-text-picture + .b-text {
    margin-top: -20px;
  }
}
.b-text {
  margin-bottom: 50px;
}
@media all and (max-width: 768px) {
  .b-text {
    margin-bottom: 30px;
  }
}
.b-text + .b-text {
  margin-top: -30px;
}
.b-text__subtitle > * {
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: bold;
}
.b-text__text {
  border-radius: 40px;
  padding: 30px 40px 20px 30px;
  background-color: #F6F8F7;
}
@media all and (max-width: 768px) {
  .b-text__text {
    border-radius: 20px;
  }
}
.b-text__text.transparent-back {
  background-color: transparent;
  padding: 0;
}
.b-text__text.color-gray {
  color: #5E5E5E;
}
.b-text__text.color-gray ul li::before {
  background-color: #5E5E5E;
}
.b-text__text.color-gray.text ul li::before {
  background-color: #5E5E5E;
}
.text .b-text__button, .b-text__button {
  display: inline-block;
  min-height: 42px;
  padding: 10px 40px;
  margin-top: 25px;
  background-color: #13AB7B;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  border: none;
  font-size: inherit;
  cursor: pointer;
  transition: 0.2s;
}
.text .b-text__button:hover, .b-text__button:hover {
  background-color: #28926E;
}
@media all and (max-width: 768px) {
  .b-text + .b-text {
    margin-top: -20px;
  }
  .b-text__text {
    padding: 20px;
  }
  .b-text__text ul {
    margin-left: 0;
  }
  .b-text__text ul li {
    padding: 0 0 0 15px;
  }
  .b-text__text ul li::before {
    width: 3px;
    height: 3px;
  }
}

.b-licenses {
  margin-bottom: 50px;
  margin-top: 80px;
}
@media all and (max-width: 768px) {
  .b-licenses {
    margin-bottom: 30px;
  }
}
.b-licenses__container {
  border-radius: 40px;
  display: flex;
  background-color: #F6F8F7;
}
@media all and (max-width: 768px) {
  .b-licenses__container {
    border-radius: 20px;
  }
}
.b-licenses__desc {
  display: flex;
  padding: 45px 85px 45px 40px;
}
.b-licenses__left {
  flex-shrink: 0;
  margin-right: 35px;
  flex-shrink: 0;
}
.b-licenses__left img {
  display: block;
  width: 100%;
  height: auto;
}
.b-licenses__right {
  display: flex;
  flex-direction: column;
}
.b-licenses__buttons {
  display: flex;
  gap: 20px;
  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.b-licenses__button {
  display: inline-block;
  min-height: 42px;
  padding: 10px;
  flex-grow: 1;
  background-color: #DBF0E9;
  border-radius: 40px;
  border: none;
  color: black;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}
.b-licenses__button:hover {
  background-color: #13AB7B;
  color: white;
}
.b-licenses__image {
  width: 30%;
  position: relative;
  flex-shrink: 0;
}
.b-licenses__image img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media all and (max-width: 1150px) {
  .b-licenses__desc {
    padding: 25px;
  }
  .b-licenses__buttons {
    margin-top: 25px;
    flex-direction: column;
    gap: 10px;
  }
}
@media all and (max-width: 1024px) {
  .b-licenses {
    margin-top: 0;
  }
  .b-licenses__container {
    flex-direction: column;
  }
  .b-licenses__left {
    width: 30%;
  }
  .b-licenses__right {
    width: 70%;
  }
  .b-licenses__image {
    width: 50%;
    margin: 0 auto;
  }
  .b-licenses__image img {
    position: static;
  }
}
@media all and (max-width: 768px) {
  .b-licenses__desc {
    flex-direction: column;
    padding: 20px;
  }
  .b-licenses__right {
    width: 100%;
  }
  .b-licenses__left {
    width: 40%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 480px) {
  .b-licenses__left {
    width: 50%;
  }
  .b-licenses__image {
    width: 80%;
  }
  .b-licenses__image img {
    position: static;
  }
}